@import "tailwindcss";

@font-face {
  font-family: MorabbaLight;
  font-weight: 100;
  font-display: swap;
  src: url(./../../public/Fonts/DanaFaNum-Regular.woff2) format("woff2");
}

@font-face {
  font-family: DanaRegular;
  font-weight: 300;
  font-display: swap;
  src: url(./../../public/Fonts/DanaFaNum-Medium.woff2) format("woff2");
}

@font-face {
  font-family: DanaMedium;
  font-weight: 400;
  font-display: swap;
  src: url(./../../public/Fonts/DanaFaNum-DemiBold.woff2) format("woff2");
}

@theme {
  /* colors */

  --color-primaryOrange-light: #fa8439;
  --color-primaryOrange: #ff6900;
  --color-primaryOrange-dark: #e56600;

  --color-secondaryOrang-light: #f68c3a;
  --color-secondaryOrang-medium: #f2761b;
  --color-secondaryOrang-dark: #e55c00;

  --color-primaryBg: #f5f5f5;

  --color-primaryBlack: #212529;

  --color-primaryCream: #f4e9d8;

  /* fonts */

  --font-Dana-light: "DanaLight";
  --font-Dana-Regular: "DanaRegular";
  --font-Dana-Medium: "DanaMedium";

  /* shadows */

  --shadow-primary: 3px 3px 8px 1px #c7c7c7;
}

.banner-background {
  background-image: url(../../public/Images/wall-background.webp);
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
}

.mySwiper .swiper-pagination {
  margin-top: -20px;
  position: static;
}

.swiper-pagination {
  position: absolute !important;
  bottom: -5px !important;
}

.swiper-pagination-bullet {
  background-color: #9ca3af !important; /* gray-400 */
  opacity: 0.8 !important;
}
.swiper-pagination-bullet-active {
  background-color: #212529 !important; /* white */
  opacity: 1 !important;
}

/* price range filter */

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: var(--color-primaryOrange-light);
  border-radius: 9999px;
  cursor: pointer;
  margin-top: -2px;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  height: 12px;
  width: 12px;
  background-color: var(--color-primaryOrange-light);
  border-radius: 9999px;
  cursor: pointer;
}

.range-thumb {
  -webkit-appearance: none;
  background: transparent;
}
